 .login__container {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 80vh;

 }

 .wrapper {
     position: relative;
     width: 400px;
     /* height: 500px; */
     background: #000;
     box-shadow: 0 0 50px var(--color-primary);
     border-radius: 1.2rem;
     padding: 2rem;
 }

 .wrapper:hover {
     animation: animate 1s linear infinite;
 }

 @keyframes animate {
     100% {
         filter: hue-rotate(360deg);
     }
 }

 .form__wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
 }

 h2 {
     text-align: center;
 }

 .input__group {
     position: relative;
     margin: 35px 0;
     border-bottom: 2px solid #fff;
 }

 .input__group label {
     position: absolute;
     top: 40%;
     left: 5px;
     transform: translateX(-10%);
     transform: translateY(-20%);
     font-size: 1rem;
     color: #fff;
     pointer-events: none;
     transition: .5s;
 }

 .input__group input {
     width: 320px;
     height: 48px;
     font-size: 1rem;
     color: #fff;
     padding: 0 5px;
     background: transparent;
     border: none;
     outline: none;
 }

 .input__group input:focus~label,
 .input__group input:valid~label {
     top: -7px;
 }

 .remember {
     margin: 5px 0 15px 5px;
 }

 .remember label {
     color: #e20909;
     font-size: .9 rem;
     font-weight: 600;
     padding: 1rem;
 }

 .remember label input {
     accent-color: var(--color-primary);
 }

 .ps-1 {
     color: #fa1a1a;
     font-weight: 600;
 }

 .ps-2 {
     padding: .8rem;
 }

 button {
     position: relative;
     width: 100%;
     height: 40px;
     background: var(--color-primary);
     box-shadow: 0 0 10px var(--color-primary);
     font-size: 1rem;
     color: #870101;
     font-weight: 600;
     cursor: pointer;
     border-radius: 1.5rem;
     border: none;
     outline: none;
     margin: 10px 0;
 }

 .signup-link {
     font-size: .9rem;
     text-align: center;
     margin: 15px 0;
 }

 .signup-link p {
     color: #fff;
 }

 .signupBtn__link {
     color: var(--color-primary);
     font-weight: 600;
     cursor: pointer;
 }

 .signupBtn__link:hover {
     text-decoration: underline;
 }

 .social__container {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .or__container {
     display: flex;
     align-items: center;
     width: 100%;
     margin-bottom: 2.5rem;

 }

 .or {
     background-color: var(--color-primary);
     width: 100%;
     height: 1px;
 }

 .or__or {
     padding: 2px;
     margin: 5px;
 }